@import '/src/variable';

.product-items{
    row-gap: 20px;
    .product-item{
        cursor: pointer;
      
        padding: 18px;
        border-radius: 4px;
        transition: $transition;
        position: relative;
        overflow: hidden;
        &-body{
            padding: 12px 0;
        }

        &-img{
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 200px;
            transition: $transition;

            &:hover {
                transform: scale(1.1);
                transition-delay: 2000;
            }
            .product-item-cat{
                position: absolute;
                top: 8px;
                right: 8px;
                border-radius: 8px;
                padding-right: 8px;
                padding-left: 8px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }

        &-title{
            padding: 8px 0;
            opacity: 0.8;
            display: block;
            color:rgb(255, 255, 255)
        }
        &-price {
            color: #E4C988;
        }

        &:hover{
            box-shadow: 1px 2px 38px 0px rgba(0,0,0,1);
            -webkit-box-shadow: 1px 2px 38px 0px rgba(0,0,0,1);
            -moz-box-shadow: 1px 2px 38px 0px rgba(0,0,0,1);
        }
    }

    @media screen and (min-width: 576px){
        grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
    }

    @media screen and (min-width: 768px){
        grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
    }

    @media screen and (min-width: 992px){
        grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
    }

    @media screen and (min-width: 1200px){
        grid-template-columns: repeat(5, 1fr);
            column-gap: 20px;
    }
}